In [94]:
import pandas as pd

In [95]:
job=pd.read_csv(r'C:\Users\subhashree\Downloads\archive (3)\DataAnalyst.csv')

In [96]:
job=pd.read_csv(r'C:\Users\subhashree\Downloads\archive (3)\DataAnalyst.csv')

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply
0,0,"Data Analyst, Center on Immigration and Justic...",$37K-$66K (Glassdoor est.),Are you eager to roll up your sleeves and harn...,3.2,Vera Institute of Justice\n3.2,"New York, NY","New York, NY",201 to 500 employees,1961,Nonprofit Organization,Social Assistance,Non-Profit,$100 to $500 million (USD),-1,True
1,1,Quality Data Analyst,$37K-$66K (Glassdoor est.),Overview\n\nProvides analytical and technical ...,3.8,Visiting Nurse Service of New York\n3.8,"New York, NY","New York, NY",10000+ employees,1893,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,-1
2,2,"Senior Data Analyst, Insights & Analytics Team...",$37K-$66K (Glassdoor est.),We’re looking for a Senior Data Analyst who ha...,3.4,Squarespace\n3.4,"New York, NY","New York, NY",1001 to 5000 employees,2003,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,GoDaddy,-1
3,3,Data Analyst,$37K-$66K (Glassdoor est.),Requisition NumberRR-0001939\nRemote:Yes\nWe c...,4.1,Celerity\n4.1,"New York, NY","McLean, VA",201 to 500 employees,2002,Subsidiary or Business Segment,IT Services,Information Technology,$50 to $100 million (USD),-1,-1
4,4,Reporting Data Analyst,$37K-$66K (Glassdoor est.),ABOUT FANDUEL GROUP\n\nFanDuel Group is a worl...,3.9,FanDuel\n3.9,"New York, NY","New York, NY",501 to 1000 employees,2009,Company - Private,Sports & Recreation,"Arts, Entertainment & Recreation",$100 to $500 million (USD),DraftKings,True

In [97]:
job.isnull().sum()

Unnamed: 0           0
Job Title            0
Salary Estimate      0
Job Description      0
Rating               0
Company Name         1
Location             0
Headquarters         0
Size                 0
Founded              0
Type of ownership    0
Industry             0
Sector               0
Revenue              0
Competitors          0
Easy Apply           0
dtype: int64

In [98]:
job.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2253 entries, 0 to 2252
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         2253 non-null   int64
 1   Job Title          2253 non-null   object
 2   Salary Estimate    2253 non-null   object
 3   Job Description    2253 non-null   object
 4   Rating             2253 non-null   float64
 5   Company Name       2252 non-null   object
 6   Location           2253 non-null   object
 7   Headquarters       2253 non-null   object
 8   Size               2253 non-null   object
 9   Founded            2253 non-null   int64
 10  Type of ownership  2253 non-null   object
 11  Industry           2253 non-null   object
 12  Sector             2253 non-null   object
 13  Revenue            2253 non-null   object
 14  Competitors        2253 non-null   object
 15  Easy Apply         2253 non-null   object
dtypes: float64(1), int64(2), object(13)
memory usage: 281.8+ KB

In [99]:
job.shape

(2253, 16)

In [100]:
job.nunique()

Unnamed: 0           2253
Job Title            1272
Salary Estimate        90
Job Description      2253
Rating                 37
Company Name         1513
Location              253
Headquarters          483
Size                    9
Founded               161
Type of ownership      15
Industry               89
Sector                 25
Revenue                14
Competitors           291
Easy Apply              2
dtype: int64

In [101]:
job['Rating'].median()

3.6

In [102]:
job_high_rated=job[job.Rating >=job['Rating'].median()]
job_low_rated=job[job.Rating <job['Rating'].median()]

In [103]:
job_high_rated

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply
1,1,Quality Data Analyst,$37K-$66K (Glassdoor est.),Overview\n\nProvides analytical and technical ...,3.8,Visiting Nurse Service of New York\n3.8,"New York, NY","New York, NY",10000+ employees,1893,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,-1
3,3,Data Analyst,$37K-$66K (Glassdoor est.),Requisition NumberRR-0001939\nRemote:Yes\nWe c...,4.1,Celerity\n4.1,"New York, NY","McLean, VA",201 to 500 employees,2002,Subsidiary or Business Segment,IT Services,Information Technology,$50 to $100 million (USD),-1,-1
4,4,Reporting Data Analyst,$37K-$66K (Glassdoor est.),ABOUT FANDUEL GROUP\n\nFanDuel Group is a worl...,3.9,FanDuel\n3.9,"New York, NY","New York, NY",501 to 1000 employees,2009,Company - Private,Sports & Recreation,"Arts, Entertainment & Recreation",$100 to $500 million (USD),DraftKings,True
5,5,Data Analyst,$37K-$66K (Glassdoor est.),About Cubist\nCubist Systematic Strategies is ...,3.9,Point72\n3.9,"New York, NY","Stamford, CT",1001 to 5000 employees,2014,Company - Private,Investment Banking & Asset Management,Finance,Unknown / Non-Applicable,-1,-1
6,6,Business/Data Analyst (FP&A),$37K-$66K (Glassdoor est.),Two Sigma is a different kind of investment ma...,4.4,Two Sigma\n4.4,"New York, NY","New York, NY",1001 to 5000 employees,2001,Company - Private,Investment Banking & Asset Management,Finance,Unknown / Non-Applicable,-1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2234,2234,"Data Analyst 3, Customer Experience - Centennial",$57K-$100K (Glassdoor est.),Business Unit: Summary Responsible for working...,3.6,Comcast\n3.6,"Englewood, CO","Philadelphia, PA",10000+ employees,1963,Company - Public,-1,-1,$10+ billion (USD),"AT&T, Verizon",-1
2235,2235,Data Base Programmer/Analyst,$57K-$100K (Glassdoor est.),"Client is contracting for an on-site, temporar...",4.3,22nd Century Staffing\n4.3,"Denver, CO","McLean, VA",51 to 200 employees,-1,Company - Private,Staffing & Outsourcing,Business Services,$5 to $10 million (USD),-1,True
2236,2236,Senior Health Data Analyst (SAS),$57K-$100K (Glassdoor est.),Senior Health Data Analyst (SAS)\n\nTelligen i...,3.6,Telligen\n3.6,"Greenwood Village, Arapahoe, CO","West Des Moines, IA",501 to 1000 employees,1972,Company - Private,Health Care Services & Hospitals,Health Care,$50 to $100 million (USD),-1,-1
2238,2238,Senior Contract Data Analyst,$78K-$104K (Glassdoor est.),Amyx is seeking to hire a Senior Contract Data...,4.0,"Amyx, Inc.\n4.0","Aurora, CO","Reston, VA",501 to 1000 employees,1999,Company - Private,IT Services,Information Technology,$50 to $100 million (USD),-1,-1
2247,2247,Marketing/Communications - Data Analyst-Marketing,$78K-$104K (Glassdoor est.),Job Description\nJob Title: Marketing/Communic...,4.1,APN Software Services Inc.\n4.1,"Broomfield, CO","Newark, CA",51 to 200 employees,-1,Company - Private,Computer Hardware & Software,Information Technology,$25 to $50 million (USD),-1,-1

In [104]:
job_high_rated.nunique()

Unnamed: 0           1226
Job Title             728
Salary Estimate        88
Job Description      1226
Rating                 15
Company Name          756
Location              168
Headquarters          297
Size                    8
Founded               123
Type of ownership      13
Industry               68
Sector                 23
Revenue                13
Competitors           171
Easy Apply              2
dtype: int64

In [105]:
job['Salary Estimate'].unique()

array(['$37K-$66K (Glassdoor est.)', '$46K-$87K (Glassdoor est.)',
       '$51K-$88K (Glassdoor est.)', '$51K-$87K (Glassdoor est.)',
       '$59K-$85K (Glassdoor est.)', '$43K-$76K (Glassdoor est.)',
       '$60K-$110K (Glassdoor est.)', '$41K-$78K (Glassdoor est.)',
       '$45K-$88K (Glassdoor est.)', '$73K-$127K (Glassdoor est.)',
       '$84K-$90K (Glassdoor est.)', '$27K-$52K (Glassdoor est.)',
       '$42K-$74K (Glassdoor est.)', '$77K-$132K (Glassdoor est.)',
       '$98K-$114K (Glassdoor est.)', '$48K-$96K (Glassdoor est.)',
       '$26K-$47K (Glassdoor est.)', '$31K-$59K (Glassdoor est.)',
       '$47K-$81K (Glassdoor est.)', '$43K-$69K (Glassdoor est.)',
       '$49K-$112K (Glassdoor est.)', '$30K-$54K (Glassdoor est.)',
       '$55K-$103K (Glassdoor est.)', '$37K-$70K (Glassdoor est.)',
       '$57K-$103K (Glassdoor est.)', '$35K-$45K (Glassdoor est.)',
       '$42K-$66K (Glassdoor est.)', '$65K-$81K (Glassdoor est.)',
       '$113K-$132K (Glassdoor est.)', '$42K-$63K (Glassdoor est.)',
       '$60K-$66K (Glassdoor est.)', '$73K-$82K (Glassdoor est.)',
       '$67K-$92K (Glassdoor est.)', '$42K-$76K (Glassdoor est.)',
       '$97K-$129K (Glassdoor est.)', '$68K-$87K (Glassdoor est.)',
       '$29K-$38K (Glassdoor est.)', '$47K-$76K (Glassdoor est.)',
       '$74K-$123K (Glassdoor est.)', '$53K-$94K (Glassdoor est.)',
       '$46K-$102K (Glassdoor est.)', '$43K-$94K (Glassdoor est.)',
       '$45K-$78K (Glassdoor est.)', '$38K-$68K (Glassdoor est.)',
       '$37K-$44K (Glassdoor est.)', '$64K-$113K (Glassdoor est.)',
       '$50K-$93K (Glassdoor est.)', '$37K-$68K (Glassdoor est.)',
       '$73K-$89K (Glassdoor est.)', '$76K-$122K (Glassdoor est.)',
       '$60K-$124K (Glassdoor est.)', '$34K-$61K (Glassdoor est.)',
       '$24K-$48K (Glassdoor est.)', '$30K-$53K (Glassdoor est.)',
       '$41K-$86K (Glassdoor est.)', '$44K-$82K (Glassdoor est.)',
       '$48K-$88K (Glassdoor est.)', '$44K-$78K (Glassdoor est.)',
       '$110K-$190K (Glassdoor est.)', '$89K-$151K (Glassdoor est.)',
       '$69K-$127K (Glassdoor est.)', '$51K-$93K (Glassdoor est.)',
       '$58K-$93K (Glassdoor est.)', '$63K-$116K (Glassdoor est.)',
       '$53K-$104K (Glassdoor est.)', '$35K-$42K (Glassdoor est.)',
       '$43K-$77K (Glassdoor est.)', '$40K-$72K (Glassdoor est.)',
       '$50K-$86K (Glassdoor est.)', '$35K-$67K (Glassdoor est.)',
       '$57K-$70K (Glassdoor est.)', '$28K-$52K (Glassdoor est.)',
       '$46K-$86K (Glassdoor est.)', '$54K-$75K (Glassdoor est.)',
       '$53K-$99K (Glassdoor est.)', '$40K-$74K (Glassdoor est.)',
       '$57K-$104K (Glassdoor est.)', '$99K-$178K (Glassdoor est.)',
       '$93K-$159K (Glassdoor est.)', '$82K-$116K (Glassdoor est.)',
       '$65K-$120K (Glassdoor est.)', '$47K-$74K (Glassdoor est.)',
       '$55K-$101K (Glassdoor est.)', '-1', '$32K-$56K (Glassdoor est.)',
       '$36K-$67K (Glassdoor est.)', '$57K-$67K (Glassdoor est.)',
       '$49K-$91K (Glassdoor est.)', '$57K-$100K (Glassdoor est.)',
       '$78K-$104K (Glassdoor est.)'], dtype=object)

In [106]:
job.head()

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply
0,0,"Data Analyst, Center on Immigration and Justic...",$37K-$66K (Glassdoor est.),Are you eager to roll up your sleeves and harn...,3.2,Vera Institute of Justice\n3.2,"New York, NY","New York, NY",201 to 500 employees,1961,Nonprofit Organization,Social Assistance,Non-Profit,$100 to $500 million (USD),-1,True
1,1,Quality Data Analyst,$37K-$66K (Glassdoor est.),Overview\n\nProvides analytical and technical ...,3.8,Visiting Nurse Service of New York\n3.8,"New York, NY","New York, NY",10000+ employees,1893,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,-1
2,2,"Senior Data Analyst, Insights & Analytics Team...",$37K-$66K (Glassdoor est.),We’re looking for a Senior Data Analyst who ha...,3.4,Squarespace\n3.4,"New York, NY","New York, NY",1001 to 5000 employees,2003,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,GoDaddy,-1
3,3,Data Analyst,$37K-$66K (Glassdoor est.),Requisition NumberRR-0001939\nRemote:Yes\nWe c...,4.1,Celerity\n4.1,"New York, NY","McLean, VA",201 to 500 employees,2002,Subsidiary or Business Segment,IT Services,Information Technology,$50 to $100 million (USD),-1,-1
4,4,Reporting Data Analyst,$37K-$66K (Glassdoor est.),ABOUT FANDUEL GROUP\n\nFanDuel Group is a worl...,3.9,FanDuel\n3.9,"New York, NY","New York, NY",501 to 1000 employees,2009,Company - Private,Sports & Recreation,"Arts, Entertainment & Recreation",$100 to $500 million (USD),DraftKings,True

In [107]:
job['Salary Estimate']

0        $37K-$66K (Glassdoor est.)
1        $37K-$66K (Glassdoor est.)
2        $37K-$66K (Glassdoor est.)
3        $37K-$66K (Glassdoor est.)
4        $37K-$66K (Glassdoor est.)
                   ...
2248    $78K-$104K (Glassdoor est.)
2249    $78K-$104K (Glassdoor est.)
2250    $78K-$104K (Glassdoor est.)
2251    $78K-$104K (Glassdoor est.)
2252    $78K-$104K (Glassdoor est.)
Name: Salary Estimate, Length: 2253, dtype: object

In [115]:
job['Salary Estimate']=job['Salary Estimate'].replace('(Glassdoor est.)', '',inplace = True)

In [116]:
job['Salary Estimate']

0       None
1       None
2       None
3       None
4       None
        ...
2248    None
2249    None
2250    None
2251    None
2252    None
Name: Salary Estimate, Length: 2253, dtype: object